.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  padding: 8px 60px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  color: var(--color-dark-text);
  .logo_name {
    font-size: 2rem;
  }
  .logo_user {
    font-size: 0.7rem;
    color: var(--color-blue);
    padding-top: 8px;
  }
}
